
body {
    background-color: #95ADBE;
    font-family: 'Noto Sans Mono', monospace;
  }

  header {
    background-color: #4F3A65;
    color: #DFF0EA;
    text-align: center;
    font-size: 80px;
  }
  
  h1 {
    text-align: center;
  }
  
  p {
    font-size: 30px;
    font-family: 'Noto Sans Mono', monospace;
    padding: 30px;
  }

.generateBtn{
    border:none;
    border-radius: 5px;
    padding: 10px;
    color: #DFF0EA;
    background-color: #574F7D;
}

.generateBtn:hover{
    border:solid #4F3A65 1px;
    font-size: 30px;
}