body {
    background-color: #95ADBE;
    font-family: 'Noto Sans Mono', monospace;
    font-size: 100px;
  }

  header {
    background-color: #4F3A65;
    color: #DFF0EA;
    text-align: center;
  }
  
  h1 {
    text-align: center;
  }
  
  p {
    font-size: 40px;
    font-family: 'Noto Sans Mono', monospace;
    padding: 30px;
  }